@import 'variables';

header {
  text-align: center;
  width: 100%;
  margin: 0;
  background-image: url('../images/purty_wood.png');
  background-repeat: repeat-x;

  img {
    width: auto;
    height: 350px;
    padding: 1em 0;
  }

  @media screen and (max-width: $xsm-width) {
    margin-top: 50px;

    img {
      width: 99%;
      height: 99%;
    }
  }
}
