{% extends 'skeleton.twig' %}

{% block title %}About{% endblock %}

{% block content %}
  <article>
    <h1>The Story</h1>
    <p>Chris and Linda Coop met in the 1970’s and dated as childhood sweethearts, they both worked in the Coop family restaurant La Fiesta Fish and Chips in Niagara Falls their home town. As the years went by and both went their separate ways they continued to pursue many of their dreams most of all the love of cooking. The importance of having the proper tools for any job is to have them cared for and respected. Knives became Chris’s passion as a meat cutter for one of the largest Meat Packing companies in Canada, Lakeside Packers, years of working in the Arctic for Dole Petroleum as Kitchen management back in the 80’s. Linda continued her career as a Bartender, then studied food preparation and small business, which lead her to having her own Restaurant and Catering Co. As time moved on these two lives continued to work in similar fields; it was in the year 2011 they were reconnected.</p>

    <p>In 2016 we decided to sharpen knives. Chris has great respect for the tools of trade whether you are a Chef, Crafter, Gardener, Wood worker or Kitchen connoisseur it is important to have a sharp cutting edge to your tools to make your work easier and without resistance.</p>

    <p>We researched the machines we needed and for the type of sharpening. A 6 inch wheel bench grinder was purchased and then an 8 inch that would fit Razor Edge Sharpening System, two wheels that could sharpen remarkably. We come to realize quickly this system will not work for every type of sharpening without trial and error. Then we found the Swedish company “Tormek”  the Tormek T-7 is the machine we bought with a water stone grinding wheel and a rotating leather strop. We are now open for business.</p>

    <p>Serving the Almaguin Highlands our small community has many things to offer. We are just 45 minutes north from the Muskokas and 45 minutes south from North Bay, South River is the north west entrance to Algonquin Park for all the Paddling enthusiasts. The Almaguin Highlands is blessed with so many beautiful Lakes and areas for Hunting and Anglers. We will care for your tools of your trade, to ensure the bestprecision sharpening with the Tormek T-7 guaranteed to be better than the manufacturer's sharpening.</p>
  </article>
{% endblock %}
