<h2>Where We Are</h2>
<div id="map"></div>

{% block scripts %}
<script src="js/gm.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeYibXenJR0KUkeeMwH7RrNnEssS-4qVM&callback=initMap" async defer></script>
{% endblock %}
