{% extends 'skeleton.twig' %}

{% block content %}
  <article>
    <h1>Welcome</h1>
    <p>Welcome to the website for South River Sharpening. We are a knife
      sharpening business in South River, Ontario that services all of the
      Almaguin Highlands.</p>
    <p>Our vision is to work together in our community to provide a service that
      is economically sustainable in a throw away society. At South River
      Sharpening we want to keep your tools of the trade sharp for the best
      performance and longevity.</p>

    {{ include('google_maps.twig') }}

  </article>
{% endblock %}
